* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #083b4c;
}

.square {
  width: calc((100% / 10) - 0.5rem);
  aspect-ratio: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1389b2;
}

.fizz {
  background-color: #0bd6a1;
}

.buzz {
  background-color: #ffd166;
}

.fizzbuzz {
  background-color: #f0466f;
}
